# Specify the current environment for the frontend
# Possible values: development, test, production
VITE_APP_ENV=development

# Define the backend URLs for different environments
VITE_BACKEND_DEV_URL=http://localhost:8090
VITE_BACKEND_TEST_URL=http://localhost:8091
VITE_BACKEND_PRODUCTION_URL=http://localhost:8092

